/*Created with Adobe RoboHelp 10.*/
p {
  margin-right: 6.50pt;
  margin-top: 0.00pt;
  margin-bottom: 2.40pt;
  text-align: left;
  font-size: 12pt;
  font-family: 'Times New Roman';
}
h1 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 4.00pt;
  margin-bottom: 6.00pt;
  text-align: left;
  font-weight: bold;
  font-family: Arial;
  font-size: 14pt;
  color: #3366ff;
  x-next-class: ;
  x-next-type: P;
}
h2 {
  margin-left: 0pt;
  margin-right: 18.00pt;
  margin-top: 6.00pt;
  margin-bottom: 2.40pt;
  text-align: left;
  font-size: 14pt;
  font-weight: bold;
}
h3 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
}
h4 {
  margin-left: 18.00pt;
  margin-right: 6.50pt;
  margin-top: 0.00pt;
  margin-bottom: 2.40pt;
  text-align: left;
  font-size: 12pt;
}
h5 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 11pt;
}
h6 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 11pt;
  font-style: italic;
}
h6.Heading7 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 8pt;
}
h6.Heading8 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 8pt;
  font-style: italic;
}
h6.Heading9 {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 12.00pt;
  margin-bottom: 3.00pt;
  text-align: left;
  font-size: 7pt;
  font-style: italic;
}
p.footnote_text {
  margin-left: 5.75pt;
  margin-right: 6.50pt;
  margin-top: 0.00pt;
  margin-bottom: 2.40pt;
  text-align: left;
  font-size: 10pt;
}
p.toc_1 {
  margin-right: 6.50pt;
  margin-top: 0.00pt;
  margin-bottom: 2.40pt;
  text-align: left;
  font-size: 8pt;
}
p.toc_2 {
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 10pt;
  font-variant: small-caps;
}
p.toc_3 {
  margin-left: 10.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 10pt;
  font-style: italic;
}
p.toc_4 {
  margin-left: 20.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.toc_5 {
  margin-left: 30.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.toc_6 {
  margin-left: 40.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.toc_7 {
  margin-left: 50.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.toc_8 {
  margin-left: 60.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.toc_9 {
  margin-left: 70.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-align: left;
  font-size: 9pt;
}
p.index_1 {
  margin-left: 10.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_heading {
  margin-left: 36.00pt;
  margin-top: 6.00pt;
  margin-bottom: 6.00pt;
  text-align: left;
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
}
p.index_2 {
  margin-left: 20.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_3 {
  margin-left: 30.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_4 {
  margin-left: 40.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_5 {
  margin-left: 50.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_6 {
  margin-left: 60.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_7 {
  margin-left: 70.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_8 {
  margin-left: 80.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
p.index_9 {
  margin-left: 90.00pt;
  margin-top: 0.00pt;
  margin-bottom: 0.00pt;
  text-indent: -10.00pt;
  text-align: left;
  font-size: 10pt;
}
body {
  font-size: 8pt;
  background-color: #ffffff;
}
span.rls-9-Bullets {
  font-size: 8pt;
}
span.rls-1-Bullets {
  font-size: 12pt;
}
span.rls-2-Bullets {
  font-size: 12pt;
}
span.rls-3-Bullets {
  font-size: 12pt;
}
span.rls-4-Bullets {
  font-size: 12pt;
}
span.rls-5-Bullets {
  font-size: 10pt;
}
span.rls-6-Bullets {
  font-size: 10pt;
}
span.rls-7-Bullets {
  font-size: 10pt;
}
span.rls-8-Bullets {
  font-size: 10pt;
}
ol.Bullets {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item1;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  font-size: 12pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, square);
  font-size: 12pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, circle);
  font-size: 12pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item4;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: counter(item4, square);
  font-size: 12pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: counter(item5, disc);
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: counter(item6, square);
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item7;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, circle);
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item8;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, square);
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  list-style: none;
  counter-reset: item9;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 26.0px;
  --prefix-fixed-size: 0;
  --prefix-gap: 4px;
  --list-indent: 20px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Bullets>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, disc);
  font-size: 8pt;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ul.Disc {
  list-style-type: disc;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 16px;
  --vertical-spacing: 0px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
span {
  font-family: 'Times New Roman';
  font-size: 10px;
  letter-spacing: 1px;
}
ul.Disc>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 16px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ul.Disc>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.Decimal {
  list-style-type: decimal;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ul.Square {
  list-style-type: square;
}
ul.Circle {
  list-style-type: circle;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.RoundSquare {
  list-style: disc;
}
ol.RoundSquare>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
ol.AlphaNumeric {
  list-style: decimal;
}
ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.LowerAlpha {
  list-style-type: lower-alpha;
}
ul.Circle>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ul.Circle>li:before {
  counter-increment: item1;
  content: counter(item1, circle);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-size: 12pt;
}
ol.Decimal>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.Decimal>li:before {
  counter-increment: item1;
  content: counter(item1, decimal);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-size: 12pt;
}