/* Created by RoboHelp HTML */
p {margin-left:5.75pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:8pt; }
h1 {margin-left:5.75pt;margin-right:6.50pt;margin-top:4.00pt;margin-bottom:6.00pt;font-family:'Arial'; font-size:10pt; font-weight:bold; }
h2 {margin-left:18.00pt;margin-right:18.00pt;margin-top:6.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:12pt; font-weight:bold; }
h3 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:12pt; font-weight:bold; }
h4 {margin-left:18.00pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:12pt; }
h5 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:11pt; }
h6 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:11pt; font-style:italic; }
h6.Heading7 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:8pt; }
h6.Heading8 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:8pt; font-style:italic; }
h6.Heading9 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:7pt; font-style:italic; }
p.footnote_text {margin-left:5.75pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:10pt; }
p.toc_1 {margin-top:6.00pt;margin-bottom:6.00pt;font-size:10pt; font-weight:bold; font-variant:small-caps; }
p.toc_2 {margin-top:0.00pt;margin-bottom:0.00pt;font-size:10pt; font-variant:small-caps; }
p.toc_3 {margin-left:10.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:10pt; font-style:italic; }
p.toc_4 {margin-left:20.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.toc_5 {margin-left:30.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.toc_6 {margin-left:40.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.toc_7 {margin-left:50.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.toc_8 {margin-left:60.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.toc_9 {margin-left:70.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
p.index_heading {margin-left:36.00pt;margin-top:6.00pt;margin-bottom:6.00pt;font-size:10pt; font-weight:bold; font-style:italic; }
p.index_1 {margin-left:10.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_2 {margin-left:20.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_3 {margin-left:30.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_4 {margin-left:40.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_5 {margin-left:50.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_6 {margin-left:60.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_7 {margin-left:70.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_8 {margin-left:80.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
p.index_9 {margin-left:90.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
body {font-family:'Arial'; font-size:8pt;  background-color:white;}
