.cprsComboBoxRendererList {
    z-index: 1300; 
    position: relative; 
    background-color: white; 
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%; /* Stretch the list to fit the width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 4px; /* Add 4px padding inside the box */
}