.git*            export-ignore
.hooks*          export-ignore

*                text=auto
*                whitespace=tab-in-indent

# No whitespace or size checks in third-party content
*.csv           -whitespace
*.GBLs          -whitespace  hooks.MaxObjectKiB=0
*.GBL           -whitespace  hooks.MaxObjectKiB=0
*.KIDs          -whitespace  hooks.MaxObjectKiB=0
*.KID           -whitespace  hooks.MaxObjectKiB=0
*.txt           -whitespace  hooks.MaxObjectKiB=0
*.TXT           -whitespace  hooks.MaxObjectKiB=0
*.TXTs          -whitespace  hooks.MaxObjectKiB=0

/Scripts/GitSetup export-ignore
