.git*            export-ignore

*                text=auto

# No whitespace or size checks in third-party content
*.csv           -whitespace
*.KIDs          -whitespace  hooks.MaxObjectKiB=0
*.KID           -whitespace  hooks.MaxObjectKiB=0
*.txt           -whitespace  hooks.MaxObjectKiB=0
*.TXT           -whitespace  hooks.MaxObjectKiB=0

/Scripts/GitSetup export-ignore
