.git*            export-ignore
.hooks*          export-ignore

*                text=auto
*                whitespace=tab-in-indent
*                conflict-marker-size=81

# No whitespace checks in third-party content
*.csv           -whitespace
*.txt           -whitespace
*.GBLs          -whitespace
*.GBL           -whitespace
*.KIDs          -whitespace
*.KIDS          -whitespace
*.KID           -whitespace
*.kid           -whitespace
*.kids          -whitespace
*.TXTs          -whitespace
*.TXT           -whitespace
*.txts          -whitespace
*.RSA           -whitespace
*.JSON          -whitespace

# Restore checks in some files otherwise disabled above.
CMakeLists.txt   whitespace=tab-in-indent

/Scripts/GitSetup export-ignore
