/*Created with Adobe RoboHelp*/
body {
  font-family: Calibri;
  font-size: 11 pt;
}
a {
  text-decoration: underline;
}
/*Chapter Styling*/
.chapter-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.chapter-footer {
  font-weight: bold;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}
.chapter-body {}
/*
.topic-body {}
*/
/*TOC Styling*/
.toc-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.toc-footer {
  font-weight: bold;
  font-size: 11pt;
  color: #888888;
  text-align: center;
}
.toc-body {}
.toc-title {
  font-size: 21pt;
  font-weight: bold;
  margin-top: 24pt;
  margin-bottom: 24pt;
}
.toc-level-1 {
  font-size: 15pt;
  text-decoration: none;
  font-weight: bold;
}
/*
.toc-level-1::after {
  content: leader(solid) " "target-counter(attr(href url), page) !important;
}
*/
.toc-level-2 {
  font-size: 14pt;
  text-decoration: none;
  font-weight: bold;
}
.toc-level-3 {
  font-size: 13pt;
  text-decoration: none;
}
.toc-level-4 {
  font-size: 12pt;
  text-decoration: none;
}
.toc-level-5 {
  font-size: 11pt;
  text-decoration: none;
}
.toc-level-6 {
  font-size: 11pt;
  text-decoration: none;
}
/*Chapter TOC Styling*/
.chaptoc-body {}
.chaptoc-level-1 {
  font-size: 12pt;
  text-decoration: none;
}
.chaptoc-level-2 {
  font-size: 12pt;
  text-decoration: none;
}
.chaptoc-level-3 {
  font-size: 11pt;
  text-decoration: none;
}
.chaptoc-level-4 {
  font-size: 11pt;
  text-decoration: none;
}
.chaptoc-level-5 {
  font-size: 11pt;
  text-decoration: none;
}
.chaptoc-level-6 {
  font-size: 11pt;
  text-decoration: none;
}
/*List of Figures Styling*/
.lof-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.lof-footer {
  font-weight: bold;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}
.lof-body {}
.lof-title {}
.lof-level-1 {
  text-decoration: none;
}
/*List of Tables styling*/
.lot-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.lot-footer {
  font-weight: bold;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}
.lot-body {}
.lot-title {}
.lot-level-1 {
  text-decoration: none;
}
/*Index Styling*/
.idx-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.idx-footer {
  font-weight: bold;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}
.idx-body {
  column-count: 2;
  column-fill: balance;
}
.idx-title {
  column-span: all;
}
.idx-keyword-group {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 16pt;
}
.idx-keyword-group:first-of-type {
  margin-top: 0pt;
}
.idx-unit {}
.idx-keyword {}
.idx-name {}
.idx-link {
  text-decoration: none;
}
.idx-child {
  padding-left: 10pt;
}
/*Glossary Styling*/
.glo-header {
  font-weight: bold;
  color: #888888;
  font-size: 12pt;
}
.glo-footer {
  font-weight: bold;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}
.glo-body {}
.glo-title {}
.glo-unit {}
.glo-term {
  font-weight: bold;
  margin-top: 16pt;
}
.glo-definition {}
/*Footnote Styling*/
.fn {
  float: footnote;
}
.fn::footnote-call {
  content: counter(footnote, decimal);
}
.fn::footnote-marker {
  content: counter(footnote, decimal);
}