/* Created by RoboHelp HTML */
P {margin-left:5.75pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:8pt; }
H1 {margin-left:5.75pt;margin-right:6.50pt;margin-top:4.00pt;margin-bottom:6.00pt;font-family:'Arial'; font-size:10pt; font-weight:bold; }
H2 {margin-left:18.00pt;margin-right:18.00pt;margin-top:6.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:12pt; font-weight:bold; }
H3 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:12pt; font-weight:bold; }
H4 {margin-left:18.00pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:12pt; }
H5 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:11pt; }
H6 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:11pt; font-style:italic; }
H6.Heading7 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:8pt; }
H6.Heading8 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:8pt; font-style:italic; }
H6.Heading9 {margin-left:5.75pt;margin-right:6.50pt;margin-top:12.00pt;margin-bottom:3.00pt;font-family:'Arial'; font-size:7pt; font-style:italic; }
P.footnote_text {margin-left:5.75pt;margin-right:6.50pt;margin-top:0.00pt;margin-bottom:2.40pt;font-family:'Arial'; font-size:10pt; }
P.toc_1 {margin-top:6.00pt;margin-bottom:6.00pt;font-size:10pt; font-weight:bold; font-variant:small-caps; }
P.toc_2 {margin-top:0.00pt;margin-bottom:0.00pt;font-size:10pt; font-variant:small-caps; }
P.toc_3 {margin-left:10.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:10pt; font-style:italic; }
P.toc_4 {margin-left:20.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.toc_5 {margin-left:30.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.toc_6 {margin-left:40.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.toc_7 {margin-left:50.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.toc_8 {margin-left:60.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.toc_9 {margin-left:70.00pt;margin-top:0.00pt;margin-bottom:0.00pt;font-size:9pt; }
P.index_heading {margin-left:36.00pt;margin-top:6.00pt;margin-bottom:6.00pt;font-size:10pt; font-weight:bold; font-style:italic; }
P.index_1 {margin-left:10.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_2 {margin-left:20.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_3 {margin-left:30.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_4 {margin-left:40.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_5 {margin-left:50.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_6 {margin-left:60.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_7 {margin-left:70.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_8 {margin-left:80.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
P.index_9 {margin-left:90.00pt;margin-top:0.00pt;margin-bottom:0.00pt;text-indent:-10.00pt;font-size:10pt; }
BODY {font-family:'Arial'; font-size:8pt;  background-color:white;}
